<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" type="button"><%= image_tag "Drawing (2).png", id: "rotten_logo" %></a>
    </div>

    <ul class="nav navbar-nav navbar-right hidden-xs">
        <li><a href="#"><i class="fa fa-hand-peace-o"></i>Hi <% if current_user %><%= current_user.firstname %><% else %>Guest<% end %></a></li>
    </ul>
   
  </div>
</nav>



